# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
downloads/
.eggs/
*.egg-info/
*.egg
pip-wheel-metadata/

# Virtual environments
.venv/
venv/
env/
ENV/

# Unit test / coverage reports
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Type checker caches
.mypy_cache/
.pytype/

# IDE/editor settings
.vscode/
.idea/
